@color-home: #33ccff;
@color-apps: #3399ff;
@color-desktop: #0066ff;
@color-developers: #000099;
@color-others: #000000;

.home-color {
  background-color: @color-home;
}

.apps-color {
  background-color: @color-apps;
}

.desktop-color {
  background-color: @color-desktop;
}

.developers-color {
  background-color: @color-developers;
}

.others-color {
  background-color: @color-others;
}

dl {
  padding:0;
  margin: 0;
  height: 100%;

}

dt {
  width: 28px;
  float:left;
  height:100%;
  padding:0;
  margin: 0;
  h4 {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    margin-top: 67px;
    -webkit-transform-origin: 25px 0;
    -moz-transform-origin: 25px 0;
    -o-transform-origin: 25px 0;
    -ms-transform-origin: 25px 0;
    transform-origin: 25px 0;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    a {
      color: white;
      cursor:pointer;
      &:hover {
        color: white;
        text-decoration: none;
      }
    }
  }
}

dd {
  position: absolute;
  float:left;
  height:100%;
  background:#eee;
  width:0;
  overflow:hidden;
  padding:0;
  margin: 0;
  > h4 {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    margin-top: 67px;
    -webkit-transform-origin: 25px 0;
    -moz-transform-origin: 25px 0;
    -o-transform-origin: 25px 0;
    -ms-transform-origin: 25px 0;
    transform-origin: 25px 0;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    a {
      color: white;
      cursor:pointer;
      &:hover {
        color: white;
        text-decoration: none;
      }
    }
  }
}

dd.current{
  h4 {
    a {
      display: none;
    }
  }
}
