.app-list {
  .row {
    padding: 0;
    margin: 5px 0 15px 0;
    opacity: 0.8;
    &:hover {
      opacity: 1;
    }
    .img {
      text-align: center;
      img {
        padding: 0;
        width: 90%;
        height: auto;
        cursor: pointer;
      }
    }
    .content {
      font-family: Arial, Helvetica, sans-serif;
      letter-spacing: 1px;
      font-style: italic;
      margin: 0;
      padding: 0;
      h4 {
        font-size: 1.2vw;
        color: #DDDDDD;
        margin: 0;
        padding: 0;
      }
      span {
        color: @gray-light;
      }
    }
  }

}
