.left-nav {
  width: 14%;
  background: @color-blue;
  position: fixed;
  height: 100%;

  .logo {
    text-align:center;
    margin-top:20%;
    margin-bottom:20%;
    img {
      width: 55%;
    }
  }

  ul {
    list-style:none;
    padding: 0;
    li {
      line-height: 300%;
      padding-left: 15%;
      color: white;
      font-size: 1vw;
      text-decoration: none;
      position: relative;
      &:hover {
        background-color: @color-dark-blue;
        cursor: pointer;
      }
    }
    li.active {
      background-color: @color-dark-blue;
      &:after {
        content: '';
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        top: 50%;
        position: absolute;
        right: 0;
        border-width: 1.2vw 1.2vw;
        border-style: solid;
        border-color: transparent @gray-lighter transparent transparent;
      }
    }

  }
}
