{{left-nav content=controller.menu}}

<div class="item welcome">
  <img src="assets/img/key_tech.jpg" width="90%">
  {{!-- <h2>Key Tech for Key Features</h2>
  <div class="row">
    <div class="img">
      <img src="assets/img/AsA_logo.png" width="100%" >
    </div>
    <div class="content">
      <h5>Thanks to our "<a>APP Serve APP (AsA)</a>",</h5>
      <h5>you can get valuable data and services provided by other APPs,</h5>
      <h5>Which makes your APP standing upon. </h5>
    </div>
  </div>
  <div class="row">
    <div class="img">
      <img src="assets/img/uniJS_logo.png" width="100%" >
    </div>
    <div class="content">
      <h5>Thanks to our "<a>Unified JavaScript (uniJS)</a>",</h5>
      <h5>to distribute an APP on GAUSIAN Cloud and 4 OS at the same time,</h5>
      <h5>You need to write only ONE code, not FIVE.</h5>
    </div>
  </div> --}}
</div>

<div class="item">
  <div class="row">
    <div class="col-xs-2">
      <a href="http://asa.documents.gausian.com/" target="_blank">
        <img src="assets/img/AsA_logo.png" width="100%" >
      </a>
    </div>
    <div class="col-xs-10">
      <h5>To get data or service,</h5>
      <h2>APP Serve APP (AsA).</h2>
    </div>
  </div>
  <div class="pic">
    <img class="pic_png" src="assets/img/AsA.png">
  </div>
</div>

<div class="item">
  <div class="row">
    <div class="col-xs-2">
      <img src="assets/img/uniJS_logo.png" width="100%" >
    </div>
    <div class="col-xs-10">
      <h5>uniJS revolutionarily allows,</h5>
      <h2>ONE code for ALL OS</h2>
    </div>
  </div>
  <div class="pic">
    <img class="pic_png2" src="assets/img/uniJS.png">
  </div>
</div>
