<div class='dd-content'>
  <div class="experience-button">
    <h1>
      Enter
    </h1>
    <h4>
      GAUSIAN APP Desktop
    </h4>
  </div>
  {{vertical-carousel}}

  {{view 'home/app-list'}}
</div>

{{!-- <div class="full col-md-2 black">
  {{view 'home/app-list'}}
</div> --}}
