<div class='dd-content'>
  <a class="experience-button" {{action 'enterDesktop' target=view.parentView}}>
    <h1>
      Enter
    </h1>
    <h4>
      GAUSIAN APP Desktop
    </h4>
  </a>
  {{vertical-carousel}}

  {{view 'home/app-list'}}
</div>

{{!-- <div class="full col-md-2 black">
  {{view 'home/app-list'}}
</div> --}}
