  <div class="full col-md-10">
    <dl>
      <dd class='others-color'><h4><a>Others</a></h4></dt>
      <dd class='developers-color'><h4><a>Deverlopers</a></h4></dt>
      <dd class='desktop-color'><h4><a>Desktop</a></h4></dt>
      <dd class='apps-color't><h4><a>APPs</a></h4></dt>
      <dd class='home-color current'>
        <h4><a>Home</a></h4>
        {{view 'home/content'}}
      </dd>
    </dl>
  </div>

  <div class="full col-md-2 black">
    {{view 'home/app-list'}}

  </div>
