{{left-nav content=controller.menu}}
<div class="item first">
  <h2>Gausian store has</h2>
  <h1>"All Elements Your Business Needs"</h1>
  <div class="img">
    <img src="assets/img/app_store_table.jpg" width="90%" >
  </div>
</div>

<div class="item">
  <ul>
    <li>
      <img src="assets/img/app_store_app_1.png" class="th">
    </li>
    <li>
      <img src="assets/img/app_store_app_2.png" class="th">
    </li>
    <li>
      <img src="assets/img/app_store_app_3.png" class="th">
    </li>
    <li>
      <img src="assets/img/app_store_app_4.png" class="th">
    </li>
    <li>
      <img src="assets/img/app_store_app_5.png" class="th">
    </li>
    <li>
      <img src="assets/img/app_store_app_6.png" class="th">
    </li>
    <li>
      <img src="assets/img/app_store_app_7.png" class="th">
    </li>
    <li>
      <img src="assets/img/app_store_app_8.png" class="th">
    </li>
    <li>
      <img src="assets/img/app_store_app_9.png" class="th">
    </li>
    <li>
      <img src="assets/img/app_store_app_10.png" class="th">
    </li>
    {{!-- <li>
      <img src="assets/img/app_store_app_11.png" class="th">
    </li>
    <li>
      <img src="assets/img/app_store_app_12.png" class="th">
    </li> --}}
  </ul>
</div>
