<h2>In solution, we have packed the best.</h2>

<div class="img" style="background-image: url('assets/img/solutions_engineering.jpg')">
  <span>Get This Pack</span>
</div>
<div class="img" style="background-image: url('assets/img/solutions_hightech.jpg')">
  <span>Get This Pack</span>
</div>
<div class="img" style="background-image: url('assets/img/solutions_retail.jpg')">
  <span>Get This Pack</span>
</div>
<div class="img" style="background-image: url('assets/img/solutions_wholesale.jpg')">
  <span>Get This Pack</span>
</div>
