{{left-nav content=controller.menu}}

<div class="item">
  <div class="row">
    <div class="col-xs-2">
      <img class= "job_img" src="assets/img/other_about.png" width="100%" >
    </div>
  </div>
</div>

<div class="item">
  <div class="row">
    <div class="col-xs-2">
      <img class= "job_img" src="assets/img/other_jobs.png" width="100%" >
    </div>
  </div>
</div>
